html {
    background: #790955;
    /* fallback color */
    background-image: url("drumkit.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Dancing Script", " Arial, Helvetica", "sans-serif";
}

div.keys {
    display: flex;
    width: 80%;
    margin: auto;
    height: 5rem;
}

div .key {
    flex-grow: 1;
    border: 2px solid orange;
    padding: 10px;
    width: 10%;
    text-align: center;
    transition: all 0.7s;
    background: linear-gradient( to bottom, white, rgb(0, 204, 255));
    font-size: 15px;
    text-shadow: 2px;
}

.playing {
    transform: scale(1.1);
    border-color: brown;
    box-shadow: 0 0 10px red;
}

div span {
    display: block;
    margin: 2px;
    font-size: 15px;
}

.note {
    color: white;
    font-size: 20px;
    margin-top: 10%;
    text-align: center;
    letter-spacing: 2px;
}